body {
    height: 98vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    color: white;
    background-color: black;
}

h1 {
    width: 100%;

    font-size: 4em;
    text-align: center;
    letter-spacing: 5px;
    font-family: "Gameplay";
}

h2 {
    text-align: center;
}

span {
    width: 100%;
    
    font-size: 1.75em;
    text-align: center;
    font-family: "Fira Code";
}

table {
    position: relative;

    border: 3px solid white;
}

td {
    height: 1.5em;
    width: 1.5em;

    background-position: center;
    background-size: contain;

}


#start-menu {
    top: 50vh;
    position: absolute;
    font-family: "Fira Code", sans-serif;
}

#game-over-screen {
    top: 40vh;
    display: none;
    position: absolute;
    font-family: "Fira Code", sans-serif;
}

#game-over-screen > h1 {
    font-size: 3em;
}


@font-face {
    font-family: "Gameplay";
    src: url("./fonts/Gameplay.ttf"),
         url("./fonts/Gameplay.woff"),
         url("./fonts/Gameplay.otf");
}
